body {
  margin: 1in 3in 1in 3in; /* 1in top, 2in right, 1in bottom, 2in left */
}
body {
  background-color: lightyellow;
}
.sidebar {
  width: 300px;
  float: left;
  padding: 20px;
  background-color: #f8f9fa;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}

h2 {
  color: #2c3e50;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
